.section {
    max-width: var(--spacing-container-max);
    margin: 0 auto;
    padding: 0 var(--spacing-margin-mobile) var(--spacing-unit-xl);
    scroll-margin-top: 96px;
}

@media (min-width: 768px) {
    .section {
        padding: 0 var(--spacing-margin-desktop) var(--spacing-unit-xl);
    }
}

.heading {
    composes: text-headline-md from global;
    margin-bottom: 48px;
}