.page {
    overflow-x: hidden;
}

.assistanceWrapper {
    max-width: var(--spacing-container-max);
    margin: 0 auto;
    padding: 0 var(--spacing-margin-mobile) var(--spacing-unit-xl);
}

@media (min-width: 768px) {
    .assistanceWrapper {
        padding: 0 var(--spacing-margin-desktop) var(--spacing-unit-xl);
    }
}