.card {
  background-color: var(--color-surface-container-lowest);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(207, 196, 197, 0.1);
  padding: var(--spacing-unit-md);
  border-radius: var(--radius-xl);
  min-width: 0;
  flex: 1 1 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}