.item {
    display: flex;
    gap: var(--spacing-unit-md);
}

.icon {
    color: var(--color-secondary);
    flex-shrink: 0;
}

.text {
    composes: text-body-md from global;
    color: rgba(76, 69, 70, 0.8);
}