.wrapper {
  text-align: center;
  margin-bottom: var(--spacing-unit-xl);
}

.title {
  composes: text-headline-md from global;
  color: var(--color-primary);
  margin-bottom: var(--spacing-unit-sm);
}

.underline {
  width: 96px;
  height: 4px;
  background-color: var(--color-secondary);
  margin: 0 auto;
}