.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit-lg);
    scroll-margin-top: 96px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-unit-md);
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}